<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MitoPlayer_2024.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DefaultDatabaseName" value="mitoplayer8" />
    
	  <add key="DefaultProfileName" value="Default" />
    <add key="DefaultPlaylistName" value="Default" />

	  <add key="LastOpenDirectoryPath" value="Empty" />

	  <add key="PlaylistColumnNames" value="Id,G,Name,OrderInList,ProfileId,IsActive" />
	  <add key="PlaylistColumnTypes" value="System.Int32,System.Int32,System.String,System.Int32,System.Int32,System.Boolean" />
	  <add key="PlaylistColumnVisibility" value="false,true,true,false,false,false" />
	  <add key="TrackColumnNames" value="Id,Album,Artist,Title,Year,Length,IsMissing,Path,FileName,OrderInList,TrackIdInPlaylist" />
	  <add key="TrackColumnTypes" value="System.Int32,System.String,System.String,System.String,System.Int32,System.String,System.Boolean,System.String,System.String,System.Int32,System.Int32" />
	  <add key="TrackColumnVisibility" value="false,true,true,true,true,true,false,false,false,false,false" />
	  <add key="Keys" value="G#m,B,Ebm,Gb,Bbm,Db,Fm,Ab,Cm,Eb,Gm,Bb,Dm,F,Am,C,Em,G,Bm,D,F#m,A,C#m,E" />
	  <add key="KeysAlter" value="Abm,B,D#m,F#,A#m,C#,A#m,G#,Cm,D#,Gm,A#,Dm,F,Am,C,Em,G,Bm,D,Gbm,A,Dbm,E" />
	  <add key="KeyCodes" value="01A,01B,02A,02B,03A,03B,04A,04B,05A,05B,06A,06B,07A,07B,08A,08B,09A,09B,10A,10B,11A,11B,12A,12B" />
	  <add key="KeyColors" value="#5abf9e,#55d4aa,#73b175,#75c375,#93b85c,#9ecb58,#d2bf59,#ecd455,#d48a62,#ed9360,#d47d6e,#ed816e,#d36e7a,#ed6e7d,#bb75b3,#cf77c6,#8f80ab,#9884ba,#759cd1,#7aa7e9,#57b7d0,#54ccea,#59c6c7,#55dddc" />
	  
	  <add key="Volume" value="100" />
	  <add key="LastOpenFilesFilterIndex" value="0" />

	  <add key="LastGeneratedPlaylistId" value="0" />
	  <add key="LastGeneratedProfileId" value="0" />
	  <add key="LastGeneratedTagId" value="0" />
	  <add key="LastGeneratedTagValueId" value="0" />
	  <add key="CurrentProfileId" value="-1" />
	  <add key="CurrentPlaylistId" value="-1" />
    
	  <add key="AutomaticBpmImport" value="true" />
	  <add key="AutomaticKeyImport" value="true" />


    <add key="LastExportDirectoryPath" value="" />

    <add key="IsRowNumberChecked" value="true" />
    <add key="IsKeyCodeChecked" value="true" />
    <add key="IsBpmNumberChecked" value="true" />
    <add key="IsTrunkedBpmChecked" value="true" />
    <add key="IsTrunkedArtistChecked" value="true" />
    <add key="IsTrunkedTitleChecked" value="true" />
    <add key="ArtistMinimumCharacter" value="10" />
    <add key="TitleMinimumCharacter" value="10" />

    <add key="VirtualDjDatabasePath" value="C:/Users/Szalas_Portable/AppData/Local/VirtualDJ/database.xml" />
    
    <add key="IsTagEditorDisplayed" value="true" />
    <add key="CurrentTagIndexForTracklistColouring" value="0" />
    <add key="PlayTrackAfterOpenFiles" value="true" />
    
    <add key="IsPlaylistListDisplayed" value="true" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <MitoPlayer_2024.Properties.Settings>
      <setting name="Installed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultDatabaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="Host" serializeAs="String">
        <value />
      </setting>
      <setting name="Port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Database" serializeAs="String">
        <value />
      </setting>
      <setting name="HasVirtualDj" serializeAs="String">
        <value>False</value>
      </setting>
    </MitoPlayer_2024.Properties.Settings>
  </userSettings>
</configuration>