<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MitoPlayer_2024.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=localhost;port=3306;Initial Catalog=mitoplayer_dev;username=root;password=;database=mitoplayer_dev" providerName="System.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
	  <add key="DefaultProfileName" value="Default" />
      <add key="DefaultPlaylistName" value="Default" />

	  <add key="LastOpenDirectoryPath" value="Empty" />

	  <add key="PlaylistColumnNames" value="Id,G,Name,OrderInList,ProfileId,IsActive" />
	  <add key="PlaylistColumnTypes" value="System.Int32,System.Int32,System.String,System.Int32,System.Int32,System.Boolean" />
	  <add key="PlaylistColumnVisibility" value="false,true,true,false,false,false" />
	  <add key="TrackColumnNames" value="Id,Album,Artist,Title,Year,Length,IsMissing,Path,FileName,OrderInList,TrackIdInPlaylist" />
	  <add key="TrackColumnTypes" value="System.Int32,System.String,System.String,System.String,System.Int32,System.String,System.Boolean,System.String,System.String,System.Int32,System.Int32" />
	  <add key="TrackColumnVisibility" value="false,true,true,true,true,true,false,false,false,false,false" />
	  <add key="Keys" value="G#m,Ebm,Bbm,Fm,Cm,Gm,Dm,Am,Em,Bm,F#m,C#m,B,Gb,Db,Ab,Eb,Bb,F,C,G,D,A,E" />
	  <add key="KeysAlter" value="Abm,D#m,E#m,A#m,Cm,Gm,Dm,Am,Em,Bm,Gbm,Dbm,B,F#,C#,G#,D#,A#,F,C,G,D,A,E" />
	  <add key="KeyCodes" value="A01,A02,A03,A04,A05,A06,A07,A08,A09,A10,A11,A12,B01,B02,B03,B04,B05,B06,B07,B08,B09,B10,B11,B12" />
	  <add key="KeyColors" value="#6cbe9b,#8bbf52,#acca43,#f4d843,#ed9c55,#e9815c,#e66d6d,#c07cb0,#9682b8,#9682b8,#60c7ec,#77c7d2,#58bbc9,#6fb028,#9abf15,#f5cf14,#ea872d,#e66335,#e14a4b,#b25d9c,#7e66a6,#4f7bba,#3abae8,#58bbc9" />
	  
	  <add key="Volume" value="100" />
	  <add key="LastOpenFilesFilterIndex" value="0" />

	  <add key="LastGeneratedPlaylistId" value="0" />
	  <add key="LastGeneratedProfileId" value="0" />
	  <add key="LastGeneratedTagId" value="0" />
	  <add key="LastGeneratedTagValueId" value="0" />
	  <add key="CurrentProfileId" value="-1" />
	  <add key="CurrentPlaylistId" value="-1" />
    
	  <add key="AutomaticBpmImport" value="true" />
	  <add key="AutomaticKeyImport" value="true" />
    
	  <add key="LastExportDirectoryPath" value="" />
    
	  <add key="IsRowNumberChecked" value="true" />
	  <add key="IsKeyCodeChecked" value="true" />
	  <add key="IsBpmNumberChecked" value="true" />
	  <add key="IsTrunkedBpmChecked" value="true" />
	  <add key="IsTrunkedArtistChecked" value="true" />
	  <add key="IsTrunkedTitleChecked" value="true" />
	  <add key="ArtistMinimumCharacter" value="10" />
	  <add key="TitleMinimumCharacter" value="10" />

        <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>